{% load static %}
<!doctype html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Editar Cliente</title>

    <link rel="stylesheet" href="{% static 'clientes/css/style.css' %}" />
    <link rel="stylesheet" href="{% static 'clientes/css/style2.css' %}" />
  </head>
  <body class="pagina-editar">
    <!-- navbar -->
    <nav class="navbar">
      <h1 class="titulo-sistema">Sistema de cadastro</h1>
    </nav>

    <!-- formulário -->
    <form method="post" class="form-editar">
      {% csrf_token %} {{ form.as_p }}

      <button type="submit">Salvar alterações</button>
      <a href="{% url 'lista_clientes' %}">Cancelar</a>
    </form>
  </body>
</html>
